* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    object-fit: cover;
}
.header__menu {
    display: none;
}
.logo__pic {
    width: 120px;
    height: 120px;
}
.container {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
}